name: Python-Run-App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Connect EC2 and run app
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_KEY }}
        script: |
          set -e

          cd /home/ec2-user

          sudo yum update -y
          sudo yum install -y python3 python3-pip git

          git clone https://github.com/satyammaurya-cloud/python_flask-project.git

          cd python_flask-project

          python3 app.py
